@model BookStoreApp.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}

<h1>Delete Book</h1>

<p>Are you sure you want to delete this?</p>

<div>
    <dl class="dl-horizontal"></dl>

    <dt>Title</dt>
    <dd>@Model.Title</dd>

    <dt>Description</dt>
    <dd>@Model.Description</dd>

    <dt>Author</dt>
    <dd>@Model.Author</dd>

    <dt>ISBN</dt>
    <dd>@Model.ISBN</dd>
    
   <dt>Published Year</dt>
   <dd>@Model.PublishedYear</dd>

    <dt>Prce</dt>
    <dd>@Model.Price</dd>
  
    </dl>
</div>


<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="BookId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>